
/*------------------------------------*\
   Controls
\*------------------------------------*/

.panelBar-controls {
  position:       absolute;
  z-index:        2147483200;
  right:          0;
  padding-top:    15px;
  padding-bottom: 15px;
  padding-right:  15px;
  padding-left:   12px;

  font-size:        17px;
  line-height:      1;
  color:            #fff;
  background-color: #000;
  border-left:    1px solid #555;

  body.rtl & {
    right:          auto;
    left:           0;
    padding-right:  12px;
    padding-left:   15px;

    border-left:    none;
    border-right:   1px solid #555;
  }

  .panelBar--top &    { top:    0; }
  .panelBar--bottom & { bottom: 0; }

  .panelBar--hidden & {
    color:            #000;
    background-color: transparent;
    border-left:      none;
    height:           auto;

    body.rtl & {
      border-right: none;
    }
  }

  i:hover {
    cursor: pointer;
    color:  #999;
  }


  // Position
  &__position {
    display:      inline-block;
    margin-right: 7px;

    body.rtl & {
      margin-right: 0;
      margin-left:  7px;
    }

    .panelBar--hidden &         { display: none; }
    .panelBar--top    &--top    { display: none; }
    .panelBar--bottom &--bottom { display: none; }
  }


  // Visibility
  &__visibility {
    display: inline-block;

    &--visible,
    &--hidden {
      position: relative;
      z-index:  2147483250;
    }

    &--hidden { display: none; }

    &--bg {
      display:  none;
      position: absolute;
      top:      17px;
      right:    16px;
      z-index:  2147483210;

      color:      #fff;
      font-size:  .8em;

      body.rtl & {
        right: auto;
        left:  16px;
      }
    }

    .panelBar--hidden & {
      &--visible { display: none; }
      &--hidden  { display: block; }
      &--bg      { display: block; }
    }

  }

}
