
/*------------------------------------*\
   Responsiveness
\*------------------------------------*/

.panelbar {
  // mobile view
  &--mobile .not-mobile { display: none; }

  // compact view
  &--compact {
    .not-compact { display: none; }

    &.panelbar--iframe .panelbar__bar:after { display: none; }

    .panelbar-element {
      > a,
      > span {
        padding-left:  13px;
        padding-right: 9px;

        body.rtl & {
          padding-left:  9px;
          padding-right: 13px;
        }
      }

      &--right {
        float: none;
        border-left: 1px solid #555;

        body.rtl & {
          border-left:  none;
          border-right: 1px solid #555;
        }
      }
    }
  }
}
