
//====================================
//   Element base
//====================================

.panelBar-element {
  display:      inline-block;
  float:        left;
  border-right: 1px solid $color-middarkgrey;
  color:        $color-white !important;

  &--right { float: right; }


  > a,
  > span {
    display: inline-block;
    padding: 1em;

    > i {
      margin-right: .5em;
    }
  }
}
