.panelbar--toggle a.panelbar-drop__item {
  padding: .25em 1.5em .3em;
  background-color: #efefef; }
.panelbar--toggle .gap {
  display: inline-block;
  width: 15px;
  transition: all .2s ease-in-out; }
.panelbar--toggle .panelbar-drop__item:hover .gap {
  width: 8px; }
.panelbar--toggle span.panelbar-drop__item {
  cursor: default;
  padding: .6em 1.5em; }
