
/*------------------------------------*\
   Mixins
\*------------------------------------*/

// Absolute positioned, fill parent
@mixin absoluteFill() {
  position:   absolute;
  top:        0;
  bottom:     0;
  left:       0;
  right:      0;
}


// Panel-like dropdown
@mixin dropdown() {

}

// center-positioned dropdown arrow
@mixin dropdownArrow() {

}

// responsiveGridItem
@mixin responsiveGridItem($min, $max, $count) {
  @media (min-width: $min) and (max-width: $max) {
    min-width: 100% / $count;
    &:nth-child(#{$count}n+#{$count}) {
      border-right: none;
    }
  }
}

// clearfix
@mixin clearfix() {
  &:after {
    content:  "";
    display:  table;
    clear:    both;
  }
}
