

$color-black:              #000;
$color-middarkgrey:        #555;
$color-midgrey:            #999;
$color-midlightgrey:       #aaa;
$color-lightgrey:          #ddd;
$color-almostwhite:        #efefef;
$color-white:              #fff;

$color-transparent-mosaic: #ccc;

$color-brand-green:        #8dae28;
$color-red:                #b12323;
