// Elements

.panelbar__element {
  display: inline-block;
  color: #fff;

  > a,
  > span {
    display: inline-block;
    padding: 16px 18px 15px;
  }

  &:not(:first-child):not(:last-child) {
    border-left: 1px solid #555;
  }

  &--right {
    float: right;
  }
}

@import '_elements/_btn';
@import '_elements/_drop';
@import '_elements/_box';
