
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'base/_fonts';

body.rtl {
  direction: rtl;
}

.panelbar {
  position: fixed;
  left:     0;
  right:    0;
  height:   48px;
  z-index:  2147483000;

  line-height:   1;
  padding-right: 68px;

  body.rtl & {
    padding-right: 0;
    padding-left:  68px;
  }

  background-color: #000;
  box-shadow:       rgba(0,0,0,0.075) 0 0px 4px;

  &--hidden {
    background-color: transparent;
    box-shadow:       none;
  }

  &--top    { top: 0; }
  &--bottom { bottom: 0; }


  // Elements bar
  &__bar {
    height:      48px;
    white-space: nowrap;
    @include clearfix;

    font-family: 'Source Sans Pro', 'Apple LiGothic Medium', 'Microsoft JhengHei UI', 'Helvetica Neue', Arial, sans-serif;
    font-size:   16px;
    font-weight: normal;

    &:after {
      content:    " ";
      position:   absolute;
      top:        0;
      right:      67px;
      width:      15px;
      height:     48px;
      background: linear-gradient(to left, #000, transparent);

      body.rtl & {
        right: auto;
        left:  67px;
      }
    }

    .panelbar--hidden & { display: none; }

    a {
      color:           #fff;
      transition:      none;
      text-decoration: none;

      &:hover { color: #999; }
    }

    i {
      margin-right: 7px;

      .panelbar--hidden & { margin-right: 0; }

      body.rtl & {
        margin-right: 0;
        margin-left: 7px
      }
    }
  }



}

@import 'base/responsive';
@import 'base/controls';
@import 'elements/base';


