
@import "../helpers/variables";
@import "../helpers/mixins";

.panelbar-return{

  &__btn {
    display: none;
    padding: 16px 18px 15px;

    color:  #fff;
    cursor: pointer;
  }

  &__iframe {
    display:  none;

    position: fixed;
    top:      48px;
    left:     0;
    width:    100%;
    height:   100%;
    overflow: hidden;

    & > iframe {
      position: absolute;
      top:      -48px;
      left:     0;
      width:    100%;
      height:   100%;
    }
  }
}
