
/*------------------------------------*\
   iFrame mode
\*------------------------------------*/

.panelbar-iframe {

  &__btns {
    display: none;

    > span { cursor: pointer; }
  }

  &__iframe {
    display:    none;
    position:   fixed;
    top:        48px;
    left:       0;
    width:      100%;
    height:     100%;
    overflow:   hidden;

    body.rtl & {
      left:  auto;
      right: 0;
    }

    & > iframe {
      position: absolute;
      top:      -48px;
      left:     0;
      width:    100%;
      height:   100%;

      body.rtl & {
        left:  auto;
        right: 0;
      }
    }
  }
}
