
//====================================
//   Images element
//====================================

@import '../../../../assets/scss/tools/mixins';

.panelBar-images {

  &__grid {
    padding:      10px;
    font-size:    0;
    white-space:  normal;
    cursor:       default;

    &.panelBar-images--2       { width: 340px;           }
    &.panelBar-images--default { width: 500px;           }
    &.panelBar-images--12more  { @include dropFullwidth; }
  }

  &__item {
    display:        inline-block;
    min-width:      160px;

    border-right:     2px solid $color-white;
    border-bottom:    3px solid $color-white;
    background-color: $color-black;

    font-size:      1rem;
    text-align:     center;

    &--image {
      @include mosaicBackground(20px);
      background-color: $color-white;
    }

    .panelBar-images--1 &,
    .panelBar-images--2 &:nth-child(2n+2),
    .panelBar-images--default &:nth-child(3n+3) {
      border-right: none;
    }

    .panelBar-images--12more & {
      @include responsiveGridItem(0,      549px,    2);
      @include responsiveGridItem(550px,  749px,    3);
      @include responsiveGridItem(750px,  899px,    4);
      @include responsiveGridItem(900px,  999px,    5);
      @include responsiveGridItem(1000px, 1199px,   6);
      @include responsiveGridItem(1200px, 1349px,   7);
      @include responsiveGridItem(1350px, 999999px, 8);
    }

    @media (max-width: 550px) { min-width: 50%; }
  }


  &__preview {
    position:       relative;
    padding-bottom: 66.6666%;
  }

  &__image {
    @include absoluteFill;
    @include backgroundContainCenter;
  }

  &__overlay {
    @include    absoluteFill;
    display:    none;
    background: $color-brand-green;
    opacity:    .75;

    .panelBar-images__item:hover & { display: block; }
  }

  &__info {
    position:  absolute;
    top:       45%;
    left:      50%;
    transform: translate(-50%, -50%);

    color:          $color-white;
    font-size:      .95em;
    font-style:     normal;
    font-weight:    600;
    text-transform: uppercase;

    .panelBar-images__item--image & { display: none;  }
    .panelBar-images__item:hover  & { display: block; }
  }

  &__extension { display: block; }

  &__size {
    display:      none;
    margin-top:   4px;
    padding:      3px 2px 0;

    border-top:   1px solid $color-white;

    font-size:    .8em;
    font-weight:  400;

    .panelBar-images__item:hover  & { display: block; }
  }

  &__label {
    @include        textEllipsis;
    position:       absolute;
    right:          0;
    bottom:         0;
    left:           0;
    padding:        4px 7px 5px;

    background:     rgba($color-black, .75);
    color:          $color-white;
    font-size:      .8em;
    white-space:    nowrap;

    .panelBar-images__item:hover & { color: $color-white; }
  }

  &__more { @include moreFiles(8px 5px 2px); }
}


//====================================
//   Images element - RTL
//====================================

body.rtl {
  .panelBar-images {
    &__item {
      border-right:   none;
      border-left:    2px solid $color-white;

      &.panelBar-images--1,
      &.panelBar-images--2:last-child,
      &.panelBar-images--default:nth-child(3n+3) {
        border-left: none;
      }
    }

  }
}
