
//====================================
//   Images element
//====================================

@import '../../../../assets/scss/util/colors';
@import '../../../../assets/scss/util/mixins';

.panelBar-images {

  &__grid {
    position:    fixed;
    width:       95vw;
    padding:     10px;
    font-size:   0;
    white-space: normal;
    cursor:      default;


    .panelBar--top & {top: 49px;}

    &.items--1 {
      position: absolute;
      width: 16.6666vw;
      .panelBar-images__item { min-width: 100%; }
    }

    &.items--2 {
      position: absolute;
      width: 33.33333vw;
      .panelBar-images__item { min-width: 50%; }
    }

    &.items--3 {
      position: absolute;
      width: 50vw;
      .panelBar-images__item { min-width: 33.3333%; }
    }

    &.items--4 {
      position: absolute;
      width: 66.6666vw;
      .panelBar-images__item { min-width: 25%; }
    }

    &.items--5 {
      position: absolute;
      width: 83.3333vw;
      .panelBar-images__item { min-width: 20%; }
    }

  }

  &__item {
    display: inline-block;
    min-width:  16.66666%;

    border-right:     2px solid $color-white;
    border-bottom:    3px solid $color-white;
    background-color: $color-black;

    font-size:      1rem;
    text-align:     center;

    &--image {
      @include mosaicBackground(20px);
      background-color: $color-white;
    }

  }


  &__preview {
    position:       relative;
    padding-bottom: 66.6666%;
  }

  &__image {
    @include absoluteFill;
    @include backgroundContainCenter;
  }

  &__overlay {
    @include    absoluteFill;
    display:    none;
    background: $color-brand-green;
    opacity:    .75;

    .panelBar-images__item:hover & { display: block; }
  }

  &__info {
    position:  absolute;
    top:       45%;
    left:      50%;
    transform: translate(-50%, -50%);

    color:          $color-white;
    font-size:      .95em;
    font-style:     normal;
    font-weight:    600;
    text-transform: uppercase;

    .panelBar-images__item--image & { display: none;  }
    .panelBar-images__item:hover  & { display: block; }
  }

  &__extension { display: block; }

  &__size {
    display:      none;
    margin-top:   4px;
    padding:      3px 2px 0;

    border-top:   1px solid $color-white;

    font-size:    .8em;
    font-weight:  400;

    .panelBar-images__item:hover  & { display: block; }
  }

  &__label {
    @include        textEllipsis;
    position:       absolute;
    right:          0;
    bottom:         0;
    left:           0;
    padding:        4px 7px 5px;

    background:     rgba($color-black, .75);
    color:          $color-white;
    font-size:      .8em;
    white-space:    nowrap;

    .panelBar-images__item:hover & { color: $color-white; }
  }

  &__more { @include moreFiles(8px 5px 2px); }
}
