
@import '../util/colors';
@import '../util/mixins';

//====================================
//   Dropdown
//====================================

.panelBar-mDrop {
  position:     absolute;

  max-height:   calc(100vh - 80px);

  background:   $color-white;
  box-shadow:   rgba($color-black, .2) 0 2px 10px;
  visibility:   hidden;
  overflow-y:   auto;

  &:not(.panelBar-element--overlap) {
    left:      50%;
    transform: translateX(-50%);
  }

  .panelBar--top    & { top:    45px; }
  .panelBar--bottom & { bottom: 45px; }

  @media (max-width: 550px) { @include dropFullwidth; }
}


//====================================
//   Arrow on parent
//====================================

.panelBar-mDropParent {
  position:   relative;
  cursor:     pointer;

  &:hover {
    .panelBar-mDrop {
      visibility: visible;
    }

    &::after {
      position:    absolute;
      left:        50%;
      margin-left: -8px;

      border-right: 8px solid transparent;
      border-left:  8px solid transparent;

      content:     '';

      .panelBar--top    & {
        bottom:        0;
        border-bottom: 8px solid $color-white;
      }

      .panelBar--bottom & {
        top:        0;
        border-top: 8px solid $color-white;
      }
    }
  }
}
