
//====================================
//   Index element
//====================================

@import '../../../../assets/scss/util/colors';

.panelBar-index {
  .panelBar-drop__item {
    max-width:     300px;
    padding:       .6em 1.2em;
    font-size:     .9em;
    text-align:    left;
    text-overflow: ellipsis;
  }

  &__depth {
    margin-right: 3px;
    color:        $color-black;
  }

  &--depth-0 {
    font-size:   1.05em !important;
    font-weight: 700;
  }

  &--invisible { opacity: .25; }
}
