// Elements

.panelbar-element {
  display: inline-block;
  color: #fff;

  > a,
  > span {
    display: inline-block;
    padding: 16px 18px 15px;
  }

  &:not(:first-of-type):not(:last-of-type) {
    border-left: 1px solid #555;
  }

  &--right {
    float: right;
  }
}

@mixin dropdownArrow() {
  &:hover:after {
    content:     "";
    position:    absolute;
    left:        50%;
    margin-left: -8px;

    border-left:  8px solid transparent;
    border-right: 8px solid transparent;

    .panelbar--top & {
      bottom: 0;
      border-bottom: 8px solid #fff;
    }
    .panelbar--bottom & {
      top: 0;
      border-top: 8px solid #fff;
    }
  }
}
