// Elements

.panelbar-element {
  display: inline-block;
  color: #fff;

  > a,
  > span {
    display: inline-block;
    padding: 16px 18px 15px;
  }

  &:not(:first-of-type):not(:last-of-type) {
    border-left: 1px solid #555;
  }

  &--right {
    float: right;
  }
}
