
/*------------------------------------*\
   Textbox elements
\*------------------------------------*/

@import "../helpers/mixins";

.panelbar-box {
  @include dropdownArrow;

  &__content{
    @include    dropdown;
    display:    none;
    min-width:  100%;
    padding:    .75em 1.5em;
    color:      #000;

    .panelbar--top    & { top:    100%; }
    .panelbar--bottom & { bottom: 100%; }

    > a       { color: #000; }
    > a:hover { color: #777; }

    .panelbar-box:hover & { display: block; }
  }
}

