
/*------------------------------------*\
   Dropdown elements
\*------------------------------------*/

@import "../helpers/mixins";

.panelBar-drop {
  @include dropdownArrow;

  &__list {
    visibility:   hidden;

    .panelBar--top    & { top:    100%; }
    .panelBar--bottom & { bottom: 100%; }

    @include      dropdown;

    > a       { color: #000; }
    > a:hover { color: #777; }

    .panelBar-drop:hover & { visibility: visible; }
  }

  &__item {
    display:  block;
    padding:  .75em 1.5em;

    color:         #000;
    text-overflow: ellipsis;
    text-align:    center;
    overflow:      hidden;
    transition:    none;

    .panelBar--top    & { border-bottom: 1px solid #efefef; }
    .panelBar--bottom & { border-top:    1px solid #efefef; }
  }
}
