
/*------------------------------------*\
   Fileviewer elements
\*------------------------------------*/

@import "../helpers/mixins";

.panelbar-fileviewer {
  @include dropdownArrow;

  &__grid {
    @include    dropdown;
    display:    none;
    min-width:  480px;
    padding:    .5em;
    cursor:     default;

    &--1 { min-width: 240px; }

    .panelbar--top    & { top: 100%; }
    .panelbar--bottom & { bottom: 100%; }

    .panelbar-fileviewer:hover & { display: block; }
  }

  &__items { @include clearfix; }

  &__item {
    display:  block;
    float:    left;
    width:    33.3333%;

    text-align:    center;
    text-overflow: ellipsis;
    overflow:      hidden;
    transition:    none;
    border:        1px solid #ddd;
    background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgYGCQwoKxgqGgcJA5h3yFAAs8BRWVSwooAAAAAElFTkSuQmCC) repeat;

    body.rtl & { float: right; }

    .panelbar-fileviewer__grid--1 & { width: 100%; }
    .panelbar-fileviewer__grid--2 & { width: 50%; }

  }


  &__preview {
    position:       relative;
    padding-bottom: 66.6666%;

    em {
      position:  absolute;
      top:       45%;
      left:      50%;
      transform: translate(-50%, -50%);

      font-style:     normal;
      font-weight:    600;
      color:          #666;
      text-transform: uppercase;

      .panelbar-fileviewer__item--image & { display: none; }

      .panelbar-fileviewer__item:hover & {
        display: block;
        color:   #fff;
      }
    }
  }

  &__image {
    @include              absoluteFill();
    background-size:      contain;
    background-position:  50% 50%;
    background-repeat:    no-repeat;
  }

  &__overlay {
    @include    absoluteFill();
    display:    none;
    background: #8dae28;
    opacity:    .8;

    .panelbar-fileviewer__item:hover & { display: block; }
  }

  &__label {
    display:    block;
    position:   absolute;
    bottom:     0;
    left:       0;
    right:      0;
    padding:    4px 6px;
    background: linear-gradient(to top, rgba(#000,.8), rgba(#000,.45) 65%, transparent);

    font-size:      .85em;
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;

    .panelbar-fileviewer__item:hover & {
      color:      #fff;
      background: linear-gradient(to top, rgba(#000,.4), rgba(#000,.2) 65%, transparent);

    }
  }


  &__more {
    display: block;
    padding: 6px 5px 2px;

    color:          #000 !important;
    font-size:      .95em;
    text-transform: uppercase;
    text-align:     center;

    &:hover { color: #999 !important; }
  }
}
