
/*------------------------------------*\
   Fileviewer elements
\*------------------------------------*/

@import "../helpers/mixins";
@import "../helpers/fileviewer";

.panelbar-fileviewer {
  @include dropdownArrow;

  &__grid {
    @include      dropdown;
    display:      none;
    min-width:    100%;
    max-height:   85vh;
    max-height:   calc(100vh - 70px);
    @include      gridResponsive();

    padding:      .5em;
    overflow-y:   auto;
    white-space:  normal;
    cursor:       default;

    .panelbar-fileviewer:hover & { display: block; }

    .panelbar--top    & { top: 100%; }
    .panelbar--bottom & { bottom: 100%; }
  }

  &__item {
    display:        inline-block;
    margin-right:   -4px;
    margin-bottom:  3px;
    @include        itemResponsive();

    text-align:     center;
    text-overflow:  ellipsis;
    overflow:       hidden;
    transition:     none;

    background:    black;
    &--image {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgYGCQwoKxgqGgcJA5h3yFAAs8BRWVSwooAAAAAElFTkSuQmCC) repeat;
    }

    body.rtl & { float: right; }
  }


  &__preview {
    position:       relative;
    padding-bottom: 67%;
  }

  &__image {
    @include              absoluteFill();
    background-size:      contain;
    background-position:  50% 50%;
    background-repeat:    no-repeat;
  }

  &__overlay {
    @include    absoluteFill();
    display:    none;
    background: #8dae28;
    opacity:    .8;

    .panelbar-fileviewer__item:hover & { display: block; }
  }

  &__info {
      position:  absolute;
      top:       45%;
      left:      50%;
      transform: translate(-50%, -50%);

      font-size:      .95em;
      font-style:     normal;
      font-weight:    600;
      color:          #fff;
      text-transform: uppercase;

      .panelbar-fileviewer__item--image & { display: none; }
      .panelbar-fileviewer__item:hover  & { display: block; }
  }

  &__extension {
    display: block;
    .panelbar-fileviewer__item:hover        & { display: none;  }
    .panelbar-fileviewer__item--image:hover & { display: block; }
  }

  &__size {
    display:      none;
    font-weight:  400;
    .panelbar-fileviewer__item:hover  & { display: block; }
  }

  &__label {
    position:       absolute;
    bottom:         0;
    left:           0;
    right:          0;
    padding:        4px 5px 5px;

    font-size:      .8em;
    color:          #fff;
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;
    background:     rgba(0, 0, 0, .75);

    .panelbar-fileviewer__item:hover & {
      color: #fff;
    }
  }


  &__more {
    display:        block;
    padding:        8px 5px 2px;

    color:          #000 !important;
    font-size:      .95em;
    text-transform: uppercase;
    text-align:     center;

    &:hover { color: #999 !important; }
  }
}



