
#panel-bar-widget {
  background-color: #000;
  color: #fff;

  .hgroup-compressed {
    margin-bottom: 0;
  }

  .hgroup-title {
    border: none;
    padding-bottom: 0;
  }

  a,
  .icon {
    color: #fff;
  }
}
