
@import '../../../../assets/scss/util/colors';

.panelBar--navigation {
  &.panelBar-mDropParent {
    &:hover::after {
      border-bottom-color: $color-lightgrey;
    }

    &.with-parent {
      &:hover::after {
        border-bottom-color: $color-almostwhite;
      }
    }
  }

  .panelBar-drop__item {
    &.parent {
      border-bottom:    none;
      background-color: $color-almostwhite;
    }

    &.sibling {
      display:          inline-block;
      width:            100%;
      min-width:        120px;
      border-bottom:    none;
      background-color: $color-lightgrey;

      &.both {
        width: 50%;

        &.next { margin-left: -2px; }
      }
    }

    &.child {
      font-size: .85em;
      text-align: left;

      .fa-eye-slash { opacity: .35; }
    }

    .fa { margin-right: .5em; }
  }
}
