
// Fileviewers

.panelbar-fileviewer {
  @extend .panelbar-element;
  position: relative;
  cursor: pointer;

  @include dropdownArrow;

  &__grid {
    display: none;
    position: absolute;
    min-width: 480px;

    left: 50%;
    transform: translateX(-50%);

    background: #fff;
    box-shadow: rgba(0,0,0, .2) 0px 2px 10px;

    padding: .5em;
    cursor: default;

    &--1 {
      min-width: 240px;
    }

    .panelbar--top    & { top: 100%; }
    .panelbar--bottom & { bottom: 100%; }

    .panelbar-fileviewer:hover & { display: block; }
  }

  &__item {
    display: inline-block;
    width: 33.3333%;

    .panelbar-fileviewer__grid--1 & { width: 100%; }
    .panelbar-fileviewer__grid--2 & { width: 50%; }

    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;

    transition: none;

    border: none;
    border-right: 1px solid #fff;
    &::nth-child(3n+3)     { border-right: none; }

    &:hover {
      .panelbar-fileviewer__preview {
        background-color: #8dae28;
        em {
          display: block !important;
          color: #fff;
        }
      }
      .panelbar-fileviewer__image { opacity: .25 }
      .panelbar-fileviewer__label {
        color: #fff;
        background: linear-gradient(to top, rgba(0,0,0,.4), rgba(0,0,0,.2) 65%, rgba(0,0,0,0));
      }
    }
  }

  &__preview {
    position: relative;
    background-color: #000;
    padding-bottom: 66.6666%;

    em {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &__label {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 5px;
    background: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,.45) 65%, rgba(0,0,0,0));

    font-size: .85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__more {
    display: block;
    padding: 6px 5px 2px;

    color: #000 !important;
    font-size: .95em;
    text-transform: uppercase;
    text-align: center;
  }

}


@media (max-width: 750px) {
  .panelbar-fileviewer__grid {
    min-width: 250px;
  }

  .panelbar-fileviewer__item {
    width: 100%;

    &:nth-child(n+4) { display: none; }
  }
}
