
//====================================
//   Textbox elements
//====================================

@import '../tools/mixins';

.panelBar-box {
  &__content {
    padding:      .75em 1.5em;
    color:        $color-black;
    line-height:   1.4;

    > a       { color: $color-midgrey; }
    > a:hover { color: $color-lightgrey; }
  }
}
