//====================================
//   System element
//====================================

@import '../../../../assets/scss/util/colors';

.panelBar--system {
  &__version {
    &--0 { color: $color-red         !important; }
    &--1 { color: $color-brand-green !important; }

    &--2 {
      color:      $color-midgrey !important;
    }
  }
}
